.container{
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.creator-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.preview{
  width: 45%;
}

.form{
  width: 45%;
}
