<div class="container">
  <div class="header title">
    User Settings
  </div>

  <hr>

  <div class="content">
    <div class="warn" *ngIf="userService.userProfileDoesntExistInFirebase && userService.userIsLoggedIn">
      <i class="bi bi-exclamation-triangle-fill"></i>

      To unlock all features please create user profile
    </div>

    <div class="options mt-2">
      <button class="btn btn-primary">
        General
      </button>
    </div>

    <div class="title mt-2">
      User Profile

      <hr>
    </div>

    <div class="preview">
      <div class="edit-profile-form">
        <div class="change-image-field mt-2">
          <img src="{{user.imageURL}}" width="128" height="128" style="border-radius: 100%;">

          <form (ngSubmit)="changeImage()" *ngIf="isEditModeEnabled">
            <input [(ngModel)]="imageURL" name="imageURL" class="form-control mt-2" type="text" placeholder="type image URL here:">

            <button type="submit" style="margin-right: auto;" class="btn btn-success mt-2">
              Save Image
            </button>
          </form>
        </div>

        <div class="overview" *ngIf="!isEditModeEnabled && userService.userProfile">
          <div class="name">
            <b>
              Name:
            </b>

            {{userService.userProfile.Name}}
          </div>

          <div class="name">
            <b>
              Surname:
            </b>

            {{userService.userProfile.Surname}}
          </div>

          <div class="email">
            <b>
              email:
            </b>

            {{userService.userProfile.email}}
          </div>

          <button (click)="toggleEditProfileMode()" class="btn btn-primary mt-2">
            Edit Profile
          </button>
        </div>

        <div *ngIf="isEditModeEnabled" class="edit-form">
          <form (ngSubmit)="editUserProfile()" #editProfileform="ngForm">
            <label for="name">
              Name:
            </label>

            <input [(ngModel)]="user.Name" name="name" id="name" class="form-control" required>

            <label for="surname">
              Surname:
            </label>

            <input [(ngModel)]="user.Surname" name="surname" id="surname" class="form-control" required>

            <label for="nickname">
              NickName:
            </label>

            <input [(ngModel)]="user.Nickname" name="nickname" id="nickname" class="form-control" required>

            <label for="position">
              Position:
            </label>

            <input [(ngModel)]="user.position" name="position" id="position" class="form-control" required>

            <button [disabled]="!editProfileform.valid" name="submitButton" type="submit" class="btn btn-primary mt-2">
              Save Changes
            </button>

            <button (click)="toggleEditProfileMode()" class="btn btn-danger mt-2 ml-2">
              Discard Changes
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
