// TODO: CHECK PROBLEM WITH BAD SCALLING OF PADDINGS

.container-fluid{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
  .left-menu{
    width: 15%;
  }

  .main-menu{
    background-color: rgba(219, 219, 219, 0.471);
    width: 70%;
  }

  .right-menu{
    background-color: rgba(186, 219, 253, 0.596);
    width: 15%;
  }
