<div class="container">
  <div class="logo">
    This is logo
  </div>

  <div class="menu">
    <button class="menu-btn">
      <i class="bi bi-columns-gap"></i>

      Overview
    </button>

    <button class="menu-btn">
      <i class="bi bi-braces"></i>

      Projects
    </button>

    <button class="menu-btn">
      <i class="bi bi-list-task"></i>

      Tasks
    </button>

    <button class="menu-btn">
      <i class="bi bi-envelope"></i>

      Inbox
    </button>

    <button class="menu-btn">
      <i class="bi bi-clipboard"></i>

      Documents
    </button>

    <button class="menu-btn">
      <i class="bi bi-bar-chart-fill"></i>

      Analytics
    </button>

    <button class="menu-btn">
      <i class="bi bi-gear-fill"></i>
      
      Settings
    </button>
  </div>
</div>
