@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  margin: 0 0 0;
}

.description {
  margin-top: 2%;
}

.title {
  font-size: 1.2em;
  font-weight: 600;
}

.mt-2{
  margin-top: 2em;
}

.mt-4{
  margin-top: 4%;
}

.ml-2{
  margin-left: 2%;
}

.mtl-2{
  margin-top: 2em;
  margin-left: 2em;
}

.ml-a{
  margin-left: auto;
}

.btn-float-right{
  display: block; float: right;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
