<div class="container">
  <button
    type="button"
    class="btn-close close-btn"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
  </button>

  <div class="header">
    Assigned Projects
  </div>
  <div class="content">
    <label for="selectProject" class="select-label">
      Select Project:
    </label>

    <select
    [(ngModel)]="selectedProject"
    class="form-control">
      <option
        disabled selected value>
          -- select project --
      </option>

      <option  *ngFor="let project of projects" [ngValue]="project">
        {{project.title}}
      </option>
    </select>

    <div *ngIf="selectedProject">
      <hr>

      <div class="title mt-2">
        <div style="display: inline-block;" *ngIf="selectedProject.isImportant">
          <i style="color: red;" class="bi bi-exclamation-octagon-fill"></i>

          <span style="color: rgb(184, 33, 33);">
            important
          </span>
        </div>

        <p class="mt-2">
          {{selectedProject.title}}
        </p>
      </div>

      <div class="description">
        {{selectedProject.description}}
      </div>

      <div class="details" *ngIf="toggleMoreDetails">
        <div class="title mt-4">
          Details
        </div>

        <hr>

        <div class="Start date">
          Start Date: 05/10/2002
          <!-- TODO: INSERT DATE OBJECT HERE  -->
        </div>

        <div class="members">
          Current Members: 10

          <button class="btn btn-primary">
            Show Members List
          </button>
        </div>
      </div>

      <div class="controls mt-4">
        <hr>

        <button class="btn btn-primary mt-2" (click)="toggleMoreDetails = !toggleMoreDetails">
          See more details
        </button>

        <button class="btn btn-danger mtl-2">
          Send request to resign
        </button>
      </div>

    </div>
  </div>

</div>
