<p>
  Testing Firebase Component
</p>

<app-auth-button></app-auth-button>

<button class="btn btn-primary ml-2" (click)="createTestUser()">
  Create Test User
</button>

<button class="btn btn-primary ml-2" (click)=" getUser()">
  Get User
</button>

<button class="btn btn-primary ml-2" (click)="createProject()">
  Create testing project
</button>

<button class="btn btn-primary ml-2" (click)="createTask()">
  Create testing task
</button>

<button class="btn btn-primary ml-2" (click)="getProjects()">
  Get All Projects
</button>
